@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}
body {
  padding: 20px;
}

/* Header */
header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #395756;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 32px;
  padding: 0 16px;
}

form label {
  font-weight: 500;
  margin-top: 16px;
  font-family: 'Rubik', sans-serif;
}

form textarea {
  height: 160px;
  width: 100%;
  resize: none;
  padding: 8px;
  margin-top: 8px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  transition: background-color 0.2s ease;
}

form textarea:focus {
  background-color: #fff;
}

form select {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  transition: background-color 0.2s ease;
}

form select:focus {
  background-color: #fff;
}

form input[type="submit"] {
  margin-top: 16px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #395756;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form input[type="submit"]:hover {
  background-color: #4F5D75;
}

form input[type="submit"]:focus {
  outline: none;
}

/* Prediction */
main p {
  margin-top: 32px;
  font-size: 18px;
  color: #333;
}